
<h2>Productos BabyShop</h2>

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Stock</th>
      <th scope="col">Cantidad Ingreso</th>
      <th scope="col">Cantidad venta</th>
      <th scope="col">Precio de Ingreso</th>
      <th scope="col">Precio de venta</th>
    </tr>
  </thead>
  <tbody>
    <!--*ngFor= "let product of productService"-->
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thjiojijjk</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
